In [ ]:
# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## Interact with SQLite database using natural language

<table align="left">

  <td>
    <a href="https://colab.research.google.com/github/GoogleCloudPlatform/generative-ai/blob/main/language/examples/prompt-design/interact_with_a_database_using_natural_language">
      <img src="https://cloud.google.com/ml-engine/images/colab-logo-32px.png" alt="Colab logo"> Run in Colab
    </a>
  </td>
  <td>
    <a href="https://github.com/GoogleCloudPlatform/generative-ai/blob/main/language/examples/prompt-design/interact_with_a_database_using_natural_language">
      <img src="https://cloud.google.com/ml-engine/images/github-logo-32px.png" alt="GitHub logo">
      View on GitHub
    </a>
  </td>
  <td>
    <a href="https://console.cloud.google.com/vertex-ai/workbench/deploy-notebook?download_url=https://raw.githubusercontent.com/GoogleCloudPlatform/generative-ai/blob/main/language/examples/prompt-design/interact_with_a_database_using_natural_language">
      <img src="https://lh3.googleusercontent.com/UiNooY4LUgW_oTvpsNhPpQzsstV5W8F7rYgxgGBD85cWJoLmrOzhVs_ksK_vgx40SHs7jCqkTkCk=e14-rj-sc0xffffff-h130-w32" alt="Vertex AI logo">
      Open in Vertex AI Workbench
    </a>
  </td>
</table>

## Objective

This notebook demonstrates how you use natural language text to generate sql queries and execute on a SQLite db.  Our goal is to show the art of the possible and by no means suggest running unvalidated queries on your database. :)

In [ ]:
!pip install markdown

Collecting markdown
  Downloading Markdown-3.4.3-py3-none-any.whl (93 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.9/93.9 kB 5.1 MB/s eta 0:00:00
Installing collected packages: markdown
Successfully installed markdown-3.4.3

In [ ]:
!pip install google-cloud-aiplatform --upgrade --user

Requirement already satisfied: google-cloud-aiplatform in /home/jupyter/.local/lib/python3.10/site-packages (1.26.0)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-aiplatform) (1.34.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-aiplatform) (1.22.2)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /opt/conda/lib/python3.10/site-packages (from google-cloud-aiplatform) (3.20.3)
Requirement already satisfied: packaging>=14.3 in /opt/conda/lib/python3.10/site-packages (from google-cloud-aiplatform) (23.1)
Requirement already satisfied: google-cloud-storage<3.0.0dev,>=1.32.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-aiplatform) (2.8.0)
Requirement already satisfied: google-cloud-bigquery<4.0.0dev,>=1.15.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-aiplatform) (3.10.0)
Requirement already satisfied: google-cloud-resource-manager<3.0.0dev,>=1.3.3 in /opt/conda/lib/python3.10/site-packages (from google-cloud-aiplatform) (1.10.0)
Requirement already satisfied: shapely<2.0.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-aiplatform) (1.8.5.post1)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /opt/conda/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (1.59.0)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /opt/conda/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (2.17.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /opt/conda/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (2.28.2)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /opt/conda/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (1.51.3)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /opt/conda/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (1.48.2)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery<4.0.0dev,>=1.15.0->google-cloud-aiplatform) (2.3.2)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery<4.0.0dev,>=1.15.0->google-cloud-aiplatform) (2.5.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery<4.0.0dev,>=1.15.0->google-cloud-aiplatform) (2.8.2)
Requirement already satisfied: grpc-google-iam-v1<1.0.0dev,>=0.12.4 in /opt/conda/lib/python3.10/site-packages (from google-cloud-resource-manager<3.0.0dev,>=1.3.3->google-cloud-aiplatform) (0.12.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.10/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.10/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.10/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/lib/python3.10/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery<4.0.0dev,>=1.15.0->google-cloud-aiplatform) (1.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (2022.12.7)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /opt/conda/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.32.0->google-cloud-aiplatform) (0.5.0)

In [ ]:
import sqlite3
from datetime import datetime, timedelta
import random
from google.cloud import aiplatform
import markdown
from vertexai.preview.language_models import CodeGenerationModel

In [ ]:
DATABASE = 'ecommerce.db'
PROJECT_ID = ""LOCATION = "us-central1"

In [ ]:
# Authenticate with Google Cloud credentials for Google colab
from google.colab import auth as google_auth
google_auth.authenticate_user()

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
aiplatform.init(project=PROJECT_ID, location=LOCATION)

### 1. Create a dummy database and insert dummy records

In [ ]:
def create_db(database):

    # Connect to the database (creates a new database if it doesn't exist)
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    # Create a table called "users"
    cursor.execute('''
        CREATE TABLE users (
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            email TEXT
        )
    ''')

    # Create a table called "products"
    cursor.execute('''
        CREATE TABLE products (
            id INTEGER PRIMARY KEY,
            name TEXT,
            price REAL
        )
    ''')

    # Create a table called "reviews"
    cursor.execute('''
        CREATE TABLE reviews (
            id INTEGER PRIMARY KEY,
            product_id INTEGER,
            user_id INTEGER,
            rating INTEGER,
            comment TEXT,
            date_time TEXT,
            FOREIGN KEY (product_id) REFERENCES products (id),
            FOREIGN KEY (user_id) REFERENCES users (id)
        )
    ''')

In [ ]:
def insert_dummy_data(database):

    conn = sqlite3.connect(database)
    cursor = conn.cursor()

    # Insert dummy data into the "users" table
    users_data = [
        (1, 'John Doe', 25, 'john@example.com'),
        (2, 'Jane Smith', 32, 'jane@example.com'),
        (3, 'Bob Johnson', 35, 'bob@example.com'),
        (4, 'Badshah', 40, 'badshah@example.com')
    ]
    cursor.executemany('INSERT INTO users VALUES (?, ?, ?, ?)', users_data)

    # Insert dummy data into the "products" table
    products_data = [
        (1, 'Product A', 9.99),
        (2, 'Product B', 19.99),
        (3, 'Product C', 14.99)
    ]
    cursor.executemany('INSERT INTO products VALUES (?, ?, ?)', products_data)

    # Insert 10 reviews with random dates in 2023 into the "reviews" table
    reviews_data = []
    start_date = datetime(2022, 1, 1)
    for i in range(1, 11):
        review_id = i
        product_id = random.randint(1, 3)
        user_id = random.randint(1, 3)
        rating = random.randint(1, 5)
        comment = f"Review {i}"
        random_days = random.randint(0, 364)
        review_date = start_date + timedelta(days=random_days)
        review_date_string = review_date.strftime('%Y-%m-%d %H:%M:%S')
        review_data = (review_id, product_id, user_id, rating, comment, review_date_string)
        reviews_data.append(review_data)

    cursor.executemany('INSERT INTO reviews VALUES (?, ?, ?, ?, ?, ?)', reviews_data)

    # Commit the changes and close the connection
    conn.commit()
    conn.close()

In [ ]:
create_db(DATABASE)
insert_dummy_data(DATABASE)

In [ ]:
def query_db(database, query):

    # Connect to the database (creates a new database if it doesn't exist)
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    cursor.execute(query)
    return cursor.fetchall()

In [ ]:
# Execute a sample query on the DB.
query_db(DATABASE, "select * from users")

[(1, 'John Doe', 25, 'john@example.com'),
 (2, 'Jane Smith', 32, 'jane@example.com'),
 (3, 'Bob Johnson', 35, 'bob@example.com'),
 (4, 'Badshah', 40, 'badshah@example.com')]

### 2. Use Vertex AI code-bison@001 model to Generate SQL from natural language text.

In [ ]:
def nl_to_sql(prompt):

    model = CodeGenerationModel.from_pretrained("code-bison@001")
    max_output_tokens =  256
    temperature =  0.5

    prompt=f'''
    Provide sql queries for the question according to the table schema below.

    Table: users

    Columns:
    id INTEGER PRIMARY KEY
    name TEXT
    age INTEGER,
    email TEXT

    Table: products

    Columns:
    id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL

    Table: reviews

    Columns:
    id INTEGER PRIMARY KEY
    product_id INTEGER
    user_id INTEGER
    rating INTEGER
    comment TEXT
    date_time TEXT
    FOREIGN KEY (product_id) REFERENCES products (id)
    FOREIGN KEY (user_id) REFERENCES users (id)
    Question: {prompt}

    Query:
    '''

    response = model.predict(
        prefix = prompt,
        max_output_tokens = max_output_tokens,
        temperature = temperature)

    return response

def markdown_to_sql(markdown_string):
  # Convert the Markdown string to a list of lines.
  lines = [" " if line.startswith("```") else line for line in markdown_string.text.splitlines()]

  # Join the lines back together and return the SQL query.
  return " ".join(lines).strip()

In [ ]:
# Test with a sample prompt
prompt ="Get count of all users"
response = nl_to_sql(prompt)
sql_query = markdown_to_sql(response)
print(sql_query)

SELECT COUNT(*) FROM users;

### 3. Execute query on the DB and display results

In [ ]:
query_db(DATABASE, sql_query)

[(4,)]

#### Lets try with more complex queries

In [ ]:
prompt ="Give me count of users who have written atleaset one review"
response = nl_to_sql(prompt)
sql_query = markdown_to_sql(response)
print(sql_query)

SELECT count(distinct user_id) FROM reviews;

In [ ]:
query_db(DATABASE, sql_query)

[(3,), (2,), (5,)]

In [ ]:
prompt ="Get product with the highest average rating"
response = nl_to_sql(prompt)
sql_query = markdown_to_sql(response)
print(sql_query)

SELECT product_id, AVG(rating) AS average_rating FROM reviews GROUP BY product_id ORDER BY average_rating DESC LIMIT 1;

In [ ]:
query_db(DATABASE, sql_query)

[(1, 4.0)]

In [ ]:
prompt ="Get the product name, date for the most recent review"
response = nl_to_sql(prompt)
sql_query = markdown_to_sql(response)
print(sql_query)

SELECT products.name, reviews.date_time FROM products JOIN reviews ON products.id = reviews.product_id ORDER BY reviews.date_time DESC LIMIT 1

In [ ]:
query_db(DATABASE, sql_query)

[('Product C', '2022-11-26 00:00:00')]

In [ ]:
prompt ="What products have an average rating of 4 or higher from users between the ages of 17 and 25?"
response = nl_to_sql(prompt)
sql_query = markdown_to_sql(response)
print(sql_query)

In [ ]:
query_db(DATABASE, sql_query)

In [ ]:
prompt ="Drop reviews table"
response = nl_to_sql(prompt)
sql_query = markdown_to_sql(response)
print(sql_query)

DROP TABLE reviews;

#### If you had executed this query you could have risked data loss. Lets re-write prompt or using prompt engineering to reduce the likelihood of this happening.

### 4. Let's try to update prompt to reduce likelihood of abuse.

In [ ]:
def nl_to_sql(prompt):

    model = CodeGenerationModel.from_pretrained("code-bison@001")
    max_output_tokens =  256
    temperature =  0.5

    prompt=f'''
    Provide sql queries for the question according to the table schema below.

    Table: users

    Columns:
    id INTEGER PRIMARY KEY
    name TEXT
    age INTEGER,
    email TEXT

    Table: products

    Columns:
    id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL

    Table: reviews

    Columns:
    id INTEGER PRIMARY KEY
    product_id INTEGER
    user_id INTEGER
    rating INTEGER
    comment TEXT
    date_time TEXT
    FOREIGN KEY (product_id) REFERENCES products (id)
    FOREIGN KEY (user_id) REFERENCES users (id)

    Remember you cannot respond with queries that modify record, drop or truncate tables instead reply with, Sorry i cannot help with that.

    Question: {prompt}

    Query:
    '''

    response = model.predict(
        prefix = prompt,
        max_output_tokens = max_output_tokens,
        temperature = temperature)

    return response

In [ ]:
prompt ="Drop reviews table"
response = nl_to_sql(prompt)
sql_query = markdown_to_sql(response)
print(sql_query)

Sorry, I cannot help with that.

In [ ]:
prompt ="Update name of the user with id = 1 to test"
response = nl_to_sql(prompt)
sql_query = markdown_to_sql(response)
print(sql_query)

Sorry, I cannot help with that.